.card img {
  /* Temporary dimension styling */
  height: 150px; 
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  99% {
    opacity: 0.01;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.card:disabled {
  animation: fadeOut 1s forwards;
}