:root {
  --very-dark-gray: #242424;
  --menu-color: color-mix(in srgb, var(--very-dark-gray), #fff 5%);
  --selected-gold: #f5c542;
}

html {
  color: white;
}

html, body, #root {
  min-height: 100vh;
  min-height: 100svh;
}

body {
  background-color: var(--very-dark-gray);
}